@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Layton Temple Tours</h1>
<p style="text-align:center">
    <img src="~/img/layton-utah-temple-6932-main.jpg" height="400" />
</p></br>
<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="SignUpTime">Tour Sign Up</a>
</div>
<h4>General Tour Instructions:</h4>
<p>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</p>
<p>Dress casual, except on Sunday</p>
<p>Special Accommodations (check the appropriate box when signing up for a tour):</p>
<p>Spanish-speaking tours are available, by request.</p></br>
<h4>Available Tours:</h4>

<p>
    Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the
    temple on uneven surfaces; please wear sturdy shoes
</p>
<p>Trailer Tour: On Sunday. Masks are required</p>
<p>Please call or text 801-628-4488 with questions or special requests.</p>
<p>We can do groups on Saturday, please text at 801-628-4488.</p></br>