@{ 
    ViewData["Title"] = "Sign Up";
}
@model TempleTour.Models.SignUpResponse

<h1>Tour Sign Up</h1>

<div>
    
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Appointment">Tour Time: </label>

        
        <select asp-for="Appointment">
            @foreach (Appointment b in ViewBag.appointments)
            {
                <option value="@b.TourID">@b.TourTime</option>
            }
            </select>
            @*<input asp-for="@b.Available" type="hidden" value="false" />*@
        



        @*how do I show the tour time? I don't know lol*@
        <br />
        <label asp-for="GroupName">Group Name: </label>
        <input asp-for="GroupName" />
        <br />
        <label asp-for="GroupSize">Group Size: </label>
        <input asp-for="GroupSize" />
        <br />
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" />
        <br />
        <label asp-for="Phone">Phone Number: </label>
        <input asp-for="Phone" />
        <br />
        <button type="submit">Submit Application</button>

    </form>
</div>