
@{
    ViewData["Title"] = "View Available Times";
}

@model List<Appointment>
<h4>Sign up for a time to tour the temple!</h4>


<table class="table table-bordered table-striped">
    <thead class="font-wieght-bold">

        <tr>
            <td>Tour Time</td>
            <td>Sign Up</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.TourTime</td>

                <td><a asp-controller="Home" asp-action="SignUpForm" asp-route-tourid="@x.TourID">Sign Up</a></td>
            </tr>
         }
    </tbody>

</table>